# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Compiled Programs
echo-server-simple
echo-client-simple
echo-server-slow
echo-server
echo-client
unix-echo-server
unix-echo-client

# Emacs Backup
*~

# vim swap
*swp

# Dependencies
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#python environments
**env

#compressed files
*.tgz
